<ul>
  <% if ::Refinery::Snippets::Admin::SnippetsController.searchable? %>
    <li>
      <%= render '/refinery/admin/search', :url => refinery.snippets_admin_snippets_path %>
    </li>
  <% end %>
  <li>
    <%= link_to t('.create_new'), refinery.new_snippets_admin_snippet_path,
                 :class => "add_icon" %>
  </li>
</ul>
